<main>
<form method="POST" action='@Url.Action("Login", "Cliente")'>

    <h2>login</h2>

    <div>
        <label for="email">E-mail</label>
        <br />
        <input id="email" type="email" required name="email"/>
    </div>
    
    <div>
        <label for="senha">Senha</label>
        <br />
        <input id="senha" type="password" required name="senha"/>
    </div>
    
    <div>
        <input  type="submit" value="Login"/>
    </div>
    

</form>
</main>